# The `pandas` library: part 1

###  1

Load the `NumPy` array from the `"arr_pandas.npy"` file and convert it to a dataframe. The array contains data from the Scottish Hill Races in 2000 (full description in English can be found at [page](https://vincentarelbundock.github.io/Rdatasets/doc/DAAG/races2000.html) with the documentation for the source data file.

In [3]:
import numpy as np
import pandas as pd

arr = np.load('arr_pandas.npy', allow_pickle=True)
dat = pd.DataFrame(arr)  
print(dat)

                     0     1     2         3         4       5
0   Aonach Mor Gondola   2.0  2000  0.403611  0.518889  uphill
1    Broughton Brewery   2.0   650  0.254444  0.316667   other
2          El-Brim-Ick   3.0   750  0.485833  0.389167   other
3   The Devils Burdens  21.0  4100  2.399722  3.093333   relay
4        Tiso Carnethy   6.0  2500  0.782222  0.919167    hill
..                 ...   ...   ...       ...       ...     ...
72               Tinto   4.5  1500  0.499444  0.581111    hill
73          Druim Fada   6.5  1000  0.751111  0.972222   other
74              Elrick   3.6   650  0.358056    0.4425   relay
75             Gondola   2.5  2000  0.387222  0.518889  uphill
76         Greenmantle   2.0   650  0.254444  0.316667   other

[77 rows x 6 columns]

###  2

Determine how many rows and columns are in the dataframe. Provide the code and indicate the answer in the form of text or a comment to the code.

In [30]:
### YOUR CODE HERE ###
dat_row = dat.shape[0]
dat_col = dat.shape[1]

print('Rows number is:', dat_row, '\nColumns number is:', dat_col)

Rows number is: 77
Columns number is: 6

###  3

Assign the following names to the columns (specified with explanations):

* `id`: member id
* `dist`: distance in miles (on the map)
* `climb`: altitude reached on the route (cumulative for the entire route, in feet)
* `time`: time (in hours)
* `timef`: time for women (in hours)
* `type`: race type (*hill*, *marathon*, *relay*, *uphill* or *other*)

In [32]:
### YOUR CODE HERE ###
dat.columns = ['id','dist', 'climb', 'time', 'timef', 'type']
print(dat)

                    id dist climb      time     timef    type
0   Aonach Mor Gondola    2  2000  0.403611  0.518889  uphill
1    Broughton Brewery    2   650  0.254444  0.316667   other
2          El-Brim-Ick    3   750  0.485833  0.389167   other
3   The Devils Burdens   21  4100   2.39972   3.09333   relay
4        Tiso Carnethy    6  2500  0.782222  0.919167    hill
..                 ...  ...   ...       ...       ...     ...
72               Tinto  4.5  1500  0.499444  0.581111    hill
73          Druim Fada  6.5  1000  0.751111  0.972222   other
74              Elrick  3.6   650  0.358056    0.4425   relay
75             Gondola  2.5  2000  0.387222  0.518889  uphill
76         Greenmantle    2   650  0.254444  0.316667   other

[77 rows x 6 columns]

###  4

Display the altitude reached on the route by *Norman's Law*.

In [47]:
### YOUR CODE HERE ###
dat.index = dat['id']
print(dat.loc["Norman's Law", "climb"])

700

###  5
Display the values of the indicators `dist`, `climb` , `time` for the first 10 participants.

In [57]:
### YOUR CODE HERE ###
dat_iloc = dat.iloc[0:10]
print(dat_iloc.loc[:, ['dist', 'climb', 'time']])

                   dist climb      time
id
Aonach Mor Gondola    2  2000  0.403611
Broughton Brewery     2   650  0.254444
El-Brim-Ick           3   750  0.485833
The Devils Burdens   21  4100   2.39972
Tiso Carnethy         6  2500  0.782222
Criffel               7  1800  0.793333
Chapelgill          1.5  1400  0.314444
Norman's Law          5   700  0.464167
Craig Dunain          6   900  0.546111
Knockfarrel           5  1200  0.623333

###  6

Display a summary of dataframe information that includes the types of all columns. How many `float` columns are in the dataframe? Give the answer to the question in the form of text or a comment to the code.

In [4]:
### YOUR CODE HERE ###
arr = np.load('arr_pandas.npy', allow_pickle=True)
dat = pd.DataFrame(arr) 
print(dat.info())
# This dataframe has 0 float columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       77 non-null     object
 1   1       77 non-null     object
 2   2       77 non-null     object
 3   3       77 non-null     object
 4   4       75 non-null     object
 5   5       77 non-null     object
dtypes: object(6)
memory usage: 3.7+ KB
None

###  7

Select the lines that match the relay participants (*relay*).

In [69]:
### YOUR CODE HERE ###
print(dat[dat['type'] == 'relay'])

                                    id dist climb      time     timef   type
id
The Devils Burdens  The Devils Burdens   21  4100   2.39972   3.09333  relay
Ben Rha                        Ben Rha  7.5   800  0.738056  0.997222  relay
Elrick                          Elrick  3.6   650  0.358056    0.4425  relay

###  8

Select the rows that correspond to hill racers (*hill*) who have reached an altitude of more than 1000 feet in total. Count how many such participants.

In [77]:
### YOUR CODE HERE ###
print(dat[(dat['type'] == 'hill') & (dat['climb'] > 1000)])

                                          id  dist climb      time     timef  \
id
Tiso Carnethy                  Tiso Carnethy     6  2500  0.782222  0.919167
Criffel                              Criffel     7  1800  0.793333   1.00333
Chapelgill                        Chapelgill   1.5  1400  0.314444  0.376667
Knockfarrel                      Knockfarrel     5  1200  0.623333  0.734167
Screel                                Screel     4  1300  0.458889  0.543611
O.P.S. Clachnaben          O.P.S. Clachnaben  10.5  3500   1.27889   1.48778
Stuc A'Chroin                  Stuc A'Chroin    14  5000   1.98333   2.39889
29th Dumyat                      29th Dumyat     5  1250  0.552778  0.637778
Ben Lomond                        Ben Lomond     9  3192   1.03778   1.19917
Goatfell                            Goatfell     8  2866   1.22778   1.52639
Scottish Nuclear Kaim  Scottish Nuclear Kaim   3.5  1250  0.431111      0.54
12 Trig Trog                    12 Trig Trog    46  7500   8.30694   13.5478
Kilpatricks                      Kilpatricks     6  1400  0.739722  0.874167
Yetholm                              Yetholm     8  2500   1.19306   1.45111
Ben Sheann                        Ben Sheann   2.5  1400  0.381667  0.484722
Glen Rosa                          Glen Rosa    13  5500   2.22028   2.70472
Scottish Borders            Scottish Borders    10  2000   1.19806   1.44972
Cort-ma                              Cort-ma     6  1500  0.742222  0.870278
Dollar                                Dollar     6  2000  0.638333  0.773611
Ben Tee                              Ben Tee     9  2950   1.32778   1.78278
Glamaig                              Glamaig   4.5  2400  0.744722  0.936111
Urie Loch                          Urie Loch     6  1400  0.773889     1.015
Meall Ant-Suidhe            Meall Ant-Suidhe   3.5  1500     0.465  0.609722
Mash Hill                          Mash Hill     6  2500  0.794167   1.05194
Ben Rhinnes                      Ben Rhinnes    14  4900   1.97611   2.35583
Creag Dubh                        Creag Dubh     3  1223  0.463889  0.601667
Glen Clova                        Glen Clova    15  5500   2.56722   2.96222
Tap O'North                      Tap O'North     6  1220  0.665833  0.817778
Lomonds                              Lomonds     9  2200   1.05306   1.29389
Ben Nevis                          Ben Nevis    10  4400   1.42611   1.72361
Moffat Beef Tub              Moffat Beef Tub     2  1500  0.332222  0.436944
Cairn William                  Cairn William     6  1400  0.704444  0.809722
Corrieyairick                  Corrieyairick    16  2250   1.66472   1.96333
Morven                                Morven     5  1700  0.609167  0.785833
Merrick                              Merrick     8  2710   1.13333   1.39472
Two Breweries                  Two Breweries    18  4900   2.56583   3.08833
Manor Water                      Manor Water    10  2300   1.18444    1.4975
Pentland                            Pentland    16  6200   2.37778     2.785
Tinto                                  Tinto   4.5  1500  0.499444  0.581111

                       type
id
Tiso Carnethy          hill
Criffel                hill
Chapelgill             hill
Knockfarrel            hill
Screel                 hill
O.P.S. Clachnaben      hill
Stuc A'Chroin          hill
29th Dumyat            hill
Ben Lomond             hill
Goatfell               hill
Scottish Nuclear Kaim  hill
12 Trig Trog           hill
Kilpatricks            hill
Yetholm                hill
Ben Sheann             hill
Glen Rosa              hill
Scottish Borders       hill
Cort-ma                hill
Dollar                 hill
Ben Tee                hill
Glamaig                hill
Urie Loch              hill
Meall Ant-Suidhe       hill
Mash Hill              hill
Ben Rhinnes            hill
Creag Dubh             hill
Glen Clova             hill
Tap O'North            hill
Lomonds                hill
Ben Nevis              hill
Moffat Beef Tub        hill
Cairn William          hill
Corrieyairick          hill
Morven                 hill
Merrick                hill
Two Breweries          hill
Manor Water            hill
Pentland               hill
Tinto                  hill

###  9

Select rows corresponding to participants who have either reached an altitude of more than 4000 feet or spent less than 0.5 hours.

In [79]:
### YOUR CODE HERE ###
print(dat[(dat['climb'] > 4000) | (dat['time'] < 0.5)])

                                          id  dist climb      time     timef  \
id
Aonach Mor Gondola        Aonach Mor Gondola     2  2000  0.403611  0.518889
Broughton Brewery          Broughton Brewery     2   650  0.254444  0.316667
El-Brim-Ick                      El-Brim-Ick     3   750  0.485833  0.389167
The Devils Burdens        The Devils Burdens    21  4100   2.39972   3.09333
Chapelgill                        Chapelgill   1.5  1400  0.314444  0.376667
Norman's Law                    Norman's Law     5   700  0.464167  0.609167
Screel                                Screel     4  1300  0.458889  0.543611
Hunters Bog                      Hunters Bog   4.5   800  0.409444  0.477778
Aberfoyle Dash                Aberfoyle Dash     3  1000    0.3375  0.381389
Manx Mountain                  Manx Mountain  30.5  8000   4.46972   5.52333
Whangie Whizz                  Whangie Whizz   3.5   800  0.395556  0.464167
Stuc A'Chroin                  Stuc A'Chroin    14  5000   1.98333   2.39889
Kinnoull                            Kinnoull     4   800  0.387222    0.4525
Scottish Nuclear Kaim  Scottish Nuclear Kaim   3.5  1250  0.431111      0.54
Isle of Jura                    Isle of Jura    16  7500   3.11639   3.83944
Scolty                                Scolty     5   800  0.495833  0.579167
12 Trig Trog                    12 Trig Trog    46  7500   8.30694   13.5478
Ben Sheann                        Ben Sheann   2.5  1400  0.381667  0.484722
Glen Rosa                          Glen Rosa    13  5500   2.22028   2.70472
West Highland Way          West Highland Way    95  9200   15.4389   18.8792
Eildon Two                        Eildon Two   4.5  1500  0.427222  0.507778
Black Hill                        Black Hill     4   600  0.447778  0.532222
Meall Ant-Suidhe            Meall Ant-Suidhe   3.5  1500     0.465  0.609722
Lochaber AC                      Lochaber AC     2   900  0.284722  0.360556
Lochaber Highland          Lochaber Highland     2   900  0.294167  0.473056
Ben Rhinnes                      Ben Rhinnes    14  4900   1.97611   2.35583
Creag Dubh                        Creag Dubh     3  1223  0.463889  0.601667
Glen Clova                        Glen Clova    15  5500   2.56722   2.96222
Caerketton                        Caerketton   2.5   800  0.208611  0.246667
Oban                                    Oban  2.25   500  0.232222  0.298889
Ben Nevis                          Ben Nevis    10  4400   1.42611   1.72361
Braemar                              Braemar     4  2000  0.407778       NaN
Moffat Beef Tub              Moffat Beef Tub     2  1500  0.332222  0.436944
Two Breweries                  Two Breweries    18  4900   2.56583   3.08833
Pentland                            Pentland    16  6200   2.37778     2.785
Tinto                                  Tinto   4.5  1500  0.499444  0.581111
Elrick                                Elrick   3.6   650  0.358056    0.4425
Gondola                              Gondola   2.5  2000  0.387222  0.518889
Greenmantle                      Greenmantle     2   650  0.254444  0.316667

                           type
id
Aonach Mor Gondola       uphill
Broughton Brewery         other
El-Brim-Ick               other
The Devils Burdens        relay
Chapelgill                 hill
Norman's Law               hill
Screel                     hill
Hunters Bog               other
Aberfoyle Dash           uphill
Manx Mountain          marathon
Whangie Whizz              hill
Stuc A'Chroin              hill
Kinnoull                   hill
Scottish Nuclear Kaim      hill
Isle of Jura              other
Scolty                     hill
12 Trig Trog               hill
Ben Sheann                 hill
Glen Rosa                  hill
West Highland Way         other
Eildon Two                other
Black Hill                 hill
Meall Ant-Suidhe           hill
Lochaber AC                hill
Lochaber Highland          hill
Ben Rhinnes                hill
Creag Dubh                 hill
Glen Clova                 hill
Caerketton                 hill
Oban                       hill
Ben Nevis                  hill
Braemar                   other
Moffat Beef Tub            hill
Two Breweries              hill
Pentland                   hill
Tinto                      hill
Elrick                    relay
Gondola                  uphill
Greenmantle               other

###  10

Create a `time_min` column that contains the route time measured in minutes.

In [103]:
### YOUR CODE HERE ###
dat['time_min'] = dat['time']*60
print(dat)

                    id dist climb      time     timef    type time_min
0   Aonach Mor Gondola    2  2000  0.403611  0.518889  uphill  24.2167
1    Broughton Brewery    2   650  0.254444  0.316667   other  15.2667
2          El-Brim-Ick    3   750  0.485833  0.389167   other    29.15
3   The Devils Burdens   21  4100   2.39972   3.09333   relay  143.983
4        Tiso Carnethy    6  2500  0.782222  0.919167    hill  46.9333
..                 ...  ...   ...       ...       ...     ...      ...
72               Tinto  4.5  1500  0.499444  0.581111    hill  29.9667
73          Druim Fada  6.5  1000  0.751111  0.972222   other  45.0667
74              Elrick  3.6   650  0.358056    0.4425   relay  21.4833
75             Gondola  2.5  2000  0.387222  0.518889  uphill  23.2333
76         Greenmantle    2   650  0.254444  0.316667   other  15.2667

[77 rows x 7 columns]

###  11

Create a `year` column with the year of the competition (everywhere 2000). Attention: the column with the year must be numeric (integer).

In [107]:
### YOUR CODE HERE ###
dat['year'] = 2000
dat['year'] = pd.to_numeric(dat['year'])
print(dat.dtypes)

id          object
dist        object
climb       object
time        object
timef       object
type        object
time_min    object
year         int64
dtype: object

.<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> .<br> 
# Additional task.
<br>

###  1

Load dataframe from `extraversion.csv` file using the code below. The `extraversion.csv` file must be in the same folder as the solution notebook. It can be placed in the same folder by pressing the *Upload* button in *Home*.

In [5]:
ps = pd.read_csv("extraversion.csv", encoding = "UTF-8")
print(ps)

    Unnamed: 0  Unnamed: 0.1      sex volunteer  Q 1  Q 2  Q 3  Q 4  Q 5  Q 6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
2            2             3  Женский        Да   Да   Да  Нет  Нет   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
5            5             6  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
6            6             7  Женский       Нет   Да  Нет  Нет   Да   Да  Нет
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
12          12            13  Женский        Да   Да   Да  Нет   Да   Да   Да
13          13            14  Женский       Нет   Да   Да  Нет   Да   Да  Нет
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
15          15            16  Женский       Нет   Да   Да   Да  Нет   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
17          17            18  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
21          21            22  Женский        Да   Да   Да  Нет  Нет   Да  Нет
22          22            23  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
24          24            25  Мужской        Да   Да   Да  Нет   Да   Да   Да
25          25            26  Женский        Да  Нет   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
27          27            28  Женский        Да   Да  Нет  Нет  Нет   Да   Да
28          28            29  Женский        Да   Да   Да  Нет   Да   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
30          30            31  Женский        Да   Да   Да  Нет   Да  Нет  Нет
31          31            32  Женский        Да   Да  Нет  Нет  Нет   Да   Да
32          32            33  Женский        Да   Да  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
35          35            36  Женский        Да   Да   Да  Нет   Да   Да  Нет
36          36            37  Женский       Нет   Да   Да   Да  Нет   Да  Нет
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
39          39            40  Женский        Да   Да   Да  Нет   Да   Да   Да
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
41          41            42  Женский        Да   Да   Да  Нет  Нет   Да  Нет
42          42            43  Женский        Да   Да  Нет  Нет  Нет   Да   Да
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
44          44            45  Женский        Да   Да  Нет  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
46          46            47  Женский        Да  Нет  Нет  Нет   Да   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
49          49            50  Женский        Да  Нет  Нет  Нет  Нет   Да  Нет
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
51          51            52  Женский        Да   Да   Да  Нет   Да   Да   Да

    ... Q 48 Q 49 Q 50 Q 51 Q 52 Q 53 Q 54 Q 55 Q 56 Q 57
0   ...   Да  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет   Да
1   ...   Да   Да  Нет  Нет  Нет   Да  Нет   Да   Да  Нет
2   ...   Да   Да  Нет  Нет   Да  Нет  Нет   Да   Да  Нет
3   ...   Да  Нет   Да   Да  Нет  Нет  Нет   Да  Нет  Нет
4   ...   Да   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет
5   ...  Нет   Да  Нет  Нет  Нет   Да   Да  Нет   Да  Нет
6   ...   Да   Да  Нет  Нет   Да   Да   Да   Да  Нет  Нет
7   ...   Да   Да   Да  Нет   Да   Да   Да   Да   Да  Нет
8   ...   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет
9   ...  Нет   Да  Нет  Нет  Нет   Да   Да   Да   Да  Нет
10  ...   Да   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет
11  ...  Нет   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет
12  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да
13  ...   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
14  ...   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет  Нет
15  ...   Да  Нет   Да  Нет   Да   Да   Да   Да   Да   Да
16  ...   Да  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
17  ...   Да  Нет  Нет  Нет   Да  Нет  Нет   Да   Да  Нет
18  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да  Нет   Да
19  ...   Да  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да
20  ...  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
21  ...  Нет  Нет  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет
22  ...  Нет   Да  Нет  Нет   Да   Да   Да  Нет   Да  Нет
23  ...  Нет   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет
24  ...   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет   Да
25  ...   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет
26  ...  Нет   Да   Да   Да   Да   Да  Нет   Да  Нет  Нет
27  ...   Да   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет
28  ...  Нет   Да   Да   Да   Да  Нет  Нет   Да   Да   Да
29  ...  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
30  ...   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет
31  ...   Да   Да  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет
32  ...   Да  Нет  Нет   Да   Да  Нет  Нет   Да  Нет  Нет
33  ...   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет
34  ...  Нет   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
35  ...   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет
36  ...   Да   Да   Да  Нет   Да   Да   Да   Да   Да  Нет
37  ...   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
38  ...   Да  Нет   Да  Нет  Нет  Нет  Нет   Да   Да   Да
39  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да
40  ...   Да   Да  Нет  Нет   Да   Да  Нет   Да  Нет   Да
41  ...   Да  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет
42  ...   Да  Нет   Да   Да   Да   Да  Нет   Да   Да  Нет
43  ...   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет
44  ...   Да  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да
45  ...   Да  Нет   Да  Нет   Да  Нет  Нет   Да   Да   Да
46  ...   Да  Нет   Да  Нет   Да   Да  Нет   Да   Да  Нет
47  ...   Да  Нет  Нет   Да   Да  Нет   Да  Нет  Нет  Нет
48  ...   Да   Да   Да  Нет  Нет   Да   Да  Нет  Нет  Нет
49  ...   Да  Нет   Да  Нет   Да  Нет   Да   Да   Да  Нет
50  ...   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да   Да
51  ...   Да  Нет   Да   Да   Да   Да   Да   Да  Нет  Нет

[52 rows x 61 columns]

The file contains the results of an educational psychometric study, the purpose of which is to identify the relationship between the level of extraversion of a person and his propensity to participate in volunteer activities. The dataframe contains the following columns:

* `sex`: gender of the respondent (female, male);
* `volunteer`: regular participation in volunteer activities (Yes, No);
* `Q 1` - `Q 57`: answers to questions on the Eysenck questionnaire (Yes, No), information about the questionnaire and the questions themselves can be found at [this](http://ipp.hse.ru/57-testytest-ajzenka-ekstraversiya-introversiya-nejrotizm) page.

###  2

Determine how many rows and columns are in the dataframe. Provide the code and indicate the answer in the form of text or a comment to the code.

In [110]:
### YOUR CODE HERE ###
ps_row = ps.shape[0]
ps_col = ps.shape[1]

print('Rows number is:', ps_row, '\nColumns number is:', ps_col)

Rows number is: 52
Columns number is: 61

###  3

Rename columns `Q 1`-`Q 57` to `Q1`-`Q57`, in other words, remove spaces in the middle of all columns (if any).

In [166]:
### YOUR CODE HERE ###
ps = pd.read_csv("extraversion.csv", encoding = "UTF-8")
col_list = list(ps.columns[4:])


def change(x):
    return x.replace(" ", "")


renamed_col = list(map(change, col_list))
ps.columns.values[4:] = renamed_col
print(ps)

    Unnamed: 0  Unnamed: 0.1      sex volunteer   Q1   Q2   Q3   Q4   Q5   Q6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
2            2             3  Женский        Да   Да   Да  Нет  Нет   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
5            5             6  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
6            6             7  Женский       Нет   Да  Нет  Нет   Да   Да  Нет
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
12          12            13  Женский        Да   Да   Да  Нет   Да   Да   Да
13          13            14  Женский       Нет   Да   Да  Нет   Да   Да  Нет
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
15          15            16  Женский       Нет   Да   Да   Да  Нет   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
17          17            18  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
21          21            22  Женский        Да   Да   Да  Нет  Нет   Да  Нет
22          22            23  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
24          24            25  Мужской        Да   Да   Да  Нет   Да   Да   Да
25          25            26  Женский        Да  Нет   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
27          27            28  Женский        Да   Да  Нет  Нет  Нет   Да   Да
28          28            29  Женский        Да   Да   Да  Нет   Да   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
30          30            31  Женский        Да   Да   Да  Нет   Да  Нет  Нет
31          31            32  Женский        Да   Да  Нет  Нет  Нет   Да   Да
32          32            33  Женский        Да   Да  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
35          35            36  Женский        Да   Да   Да  Нет   Да   Да  Нет
36          36            37  Женский       Нет   Да   Да   Да  Нет   Да  Нет
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
39          39            40  Женский        Да   Да   Да  Нет   Да   Да   Да
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
41          41            42  Женский        Да   Да   Да  Нет  Нет   Да  Нет
42          42            43  Женский        Да   Да  Нет  Нет  Нет   Да   Да
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
44          44            45  Женский        Да   Да  Нет  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
46          46            47  Женский        Да  Нет  Нет  Нет   Да   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
49          49            50  Женский        Да  Нет  Нет  Нет  Нет   Да  Нет
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
51          51            52  Женский        Да   Да   Да  Нет   Да   Да   Да

    ...  Q48  Q49  Q50  Q51  Q52  Q53  Q54  Q55  Q56  Q57
0   ...   Да  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет   Да
1   ...   Да   Да  Нет  Нет  Нет   Да  Нет   Да   Да  Нет
2   ...   Да   Да  Нет  Нет   Да  Нет  Нет   Да   Да  Нет
3   ...   Да  Нет   Да   Да  Нет  Нет  Нет   Да  Нет  Нет
4   ...   Да   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет
5   ...  Нет   Да  Нет  Нет  Нет   Да   Да  Нет   Да  Нет
6   ...   Да   Да  Нет  Нет   Да   Да   Да   Да  Нет  Нет
7   ...   Да   Да   Да  Нет   Да   Да   Да   Да   Да  Нет
8   ...   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет
9   ...  Нет   Да  Нет  Нет  Нет   Да   Да   Да   Да  Нет
10  ...   Да   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет
11  ...  Нет   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет
12  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да
13  ...   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
14  ...   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет  Нет
15  ...   Да  Нет   Да  Нет   Да   Да   Да   Да   Да   Да
16  ...   Да  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
17  ...   Да  Нет  Нет  Нет   Да  Нет  Нет   Да   Да  Нет
18  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да  Нет   Да
19  ...   Да  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да
20  ...  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
21  ...  Нет  Нет  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет
22  ...  Нет   Да  Нет  Нет   Да   Да   Да  Нет   Да  Нет
23  ...  Нет   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет
24  ...   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет   Да
25  ...   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет
26  ...  Нет   Да   Да   Да   Да   Да  Нет   Да  Нет  Нет
27  ...   Да   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет
28  ...  Нет   Да   Да   Да   Да  Нет  Нет   Да   Да   Да
29  ...  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет
30  ...   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет
31  ...   Да   Да  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет
32  ...   Да  Нет  Нет   Да   Да  Нет  Нет   Да  Нет  Нет
33  ...   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет
34  ...  Нет   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
35  ...   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет
36  ...   Да   Да   Да  Нет   Да   Да   Да   Да   Да  Нет
37  ...   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет
38  ...   Да  Нет   Да  Нет  Нет  Нет  Нет   Да   Да   Да
39  ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да
40  ...   Да   Да  Нет  Нет   Да   Да  Нет   Да  Нет   Да
41  ...   Да  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет
42  ...   Да  Нет   Да   Да   Да   Да  Нет   Да   Да  Нет
43  ...   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет
44  ...   Да  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да
45  ...   Да  Нет   Да  Нет   Да  Нет  Нет   Да   Да   Да
46  ...   Да  Нет   Да  Нет   Да   Да  Нет   Да   Да  Нет
47  ...   Да  Нет  Нет   Да   Да  Нет   Да  Нет  Нет  Нет
48  ...   Да   Да   Да  Нет  Нет   Да   Да  Нет  Нет  Нет
49  ...   Да  Нет   Да  Нет   Да  Нет   Да   Да   Да  Нет
50  ...   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да   Да
51  ...   Да  Нет   Да   Да   Да   Да   Да   Да  Нет  Нет

[52 rows x 61 columns]

###  4

Select columns `Q1`, `Q3`, `Q8`, `Q10`, `Q13`, `Q17`, `Q22`, `Q25`, `Q27`, `Q39`, `Q44`, `Q46`, `Q49`, `Q53`, `Q56` and store them in a separate `extra_yes` dataframe.

Select columns `Q5`, `Q15`, `Q20`, `Q29`, `Q32`, `Q34`, `Q37`, `Q41`, `Q51` and store them in a separate `extra_no` dataframe.

These columns will be used to calculate the extraversion index.

In [6]:
### YOUR CODE HERE ###
import pandas as pd
ps = pd.read_csv("extraversion.csv", encoding="UTF-8")
col_list = list(ps.columns[4:])


def change(x):
    return x.replace(" ", "")


renamed_col = list(map(change, col_list))
ps.columns.values[4:] = renamed_col


extra_yes = ps.loc[:,
            ['Q1', 'Q3', 'Q8', 'Q10', 'Q13', 'Q17', 'Q22', 'Q25', 'Q27', 'Q39', 'Q44', 'Q46', 'Q49', 'Q53', 'Q56']]
extra_no = ps.loc[:, ['Q5', 'Q15', 'Q20', 'Q29', 'Q32', 'Q34', 'Q37', 'Q41', 'Q51']]
print(extra_yes)

     Q1   Q3   Q8  Q10  Q13  Q17  Q22  Q25  Q27  Q39  Q44  Q46  Q49  Q53  Q56
0    Да  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет
1    Да  Нет   Да   Да  Нет   Да  Нет   Да   Да   Да  Нет  Нет   Да   Да   Да
2    Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да  Нет   Да  Нет   Да
3    Да  Нет  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет
4    Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет   Да   Да   Да   Да
5    Да   Да   Да   Да   Да   Да   Да   Да   Да   Да  Нет   Да   Да   Да   Да
6    Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет   Да   Да   Да   Да  Нет
7    Да   Да   Да   Да   Да   Да   Да   Да   Да   Да   Да   Да   Да   Да   Да
8    Да  Нет   Да  Нет  Нет   Да  Нет   Да   Да  Нет  Нет   Да  Нет   Да   Да
9    Да  Нет   Да  Нет   Да   Да  Нет   Да   Да   Да   Да  Нет   Да   Да   Да
10  Нет  Нет   Да  Нет   Да  Нет  Нет   Да  Нет  Нет  Нет  Нет   Да   Да   Да
11   Да  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет   Да   Да   Да   Да   Да
12   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет   Да  Нет  Нет   Да
13   Да  Нет   Да  Нет   Да   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет  Нет
14  Нет  Нет  Нет  Нет  Нет  Нет  Нет   Да   Да  Нет  Нет   Да  Нет  Нет  Нет
15   Да   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да
16   Да  Нет   Да   Да   Да   Да   Да  Нет  Нет   Да  Нет   Да  Нет  Нет   Да
17   Да   Да   Да   Да   Да  Нет   Да   Да   Да  Нет  Нет  Нет  Нет  Нет   Да
18   Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да   Да  Нет   Да  Нет  Нет  Нет
19  Нет   Да   Да  Нет   Да  Нет   Да   Да  Нет  Нет   Да  Нет  Нет  Нет   Да
20   Да  Нет   Да  Нет   Да   Да  Нет   Да   Да   Да  Нет  Нет  Нет  Нет   Да
21   Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да  Нет  Нет   Да  Нет  Нет  Нет
22   Да  Нет  Нет   Да  Нет   Да  Нет  Нет   Да  Нет  Нет   Да   Да   Да   Да
23   Да  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет   Да   Да   Да   Да   Да
24   Да  Нет  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет  Нет
25  Нет  Нет  Нет  Нет  Нет  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет  Нет  Нет
26   Да  Нет  Нет   Да   Да   Да  Нет   Да   Да  Нет  Нет  Нет   Да   Да  Нет
27   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да
28   Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да   Да  Нет   Да   Да  Нет   Да
29  Нет  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет   Да
30   Да  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет   Да
31   Да  Нет  Нет   Да  Нет   Да  Нет   Да  Нет   Да  Нет  Нет   Да  Нет   Да
32   Да  Нет  Нет  Нет  Нет  Нет  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет  Нет
33  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет   Да
34   Да   Да  Нет  Нет   Да  Нет  Нет   Да   Да  Нет   Да  Нет   Да  Нет  Нет
35   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет
36   Да   Да  Нет  Нет  Нет   Да  Нет   Да   Да   Да  Нет   Да   Да   Да   Да
37   Да  Нет  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет   Да  Нет  Нет
38   Да  Нет  Нет  Нет   Да   Да   Да  Нет   Да  Нет  Нет  Нет  Нет  Нет   Да
39   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да   Да  Нет  Нет  Нет  Нет   Да
40   Да  Нет  Нет  Нет  Нет   Да  Нет   Да   Да   Да  Нет  Нет   Да   Да  Нет
41   Да  Нет  Нет  Нет   Да   Да  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да
42   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет  Нет  Нет  Нет   Да   Да
43   Да  Нет  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет   Да
44   Да  Нет  Нет  Нет  Нет  Нет   Да   Да  Нет   Да  Нет  Нет  Нет   Да   Да
45   Да  Нет  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да   Да  Нет  Нет   Да
46  Нет  Нет   Да  Нет   Да  Нет   Да   Да  Нет  Нет  Нет   Да  Нет   Да   Да
47  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет  Нет
48   Да  Нет   Да   Да   Да   Да  Нет   Да   Да   Да   Да   Да   Да   Да  Нет
49  Нет  Нет  Нет  Нет   Да   Да  Нет   Да  Нет  Нет  Нет  Нет  Нет  Нет   Да
50   Да  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет  Нет   Да  Нет   Да   Да
51   Да  Нет  Нет   Да   Да  Нет   Да   Да   Да   Да  Нет   Да  Нет   Да  Нет

###  5

Count the number of `"Yes"' responses for each row in the `extra_yes` dataframe and store the result in the `extra_yes_sum` variable. Count the number of `"No"' responses for each row in the `extra_no` dataframe and store the result in the `extra_no_sum` variable.

In [4]:
### YOUR CODE HERE ###
extra_yes_sum = extra_yes.isin(['Да']).sum(axis = 1)
extra_no_sum = extra_no.isin(['Нет']).sum(axis = 1)

print(extra_yes_sum,'\n', extra_no_sum)

0      3
1     10
2      8
3      2
4      9
5     14
6      9
7     15
8      8
9     11
10     6
11    11
12     7
13     9
14     3
15     9
16     9
17     9
18     6
19     7
20     8
21     5
22     8
23    11
24     4
25     2
26     8
27     9
28     8
29     2
30     6
31     7
32     3
33     4
34     7
35     2
36    10
37     3
38     6
39     7
40     7
41     9
42     5
43     5
44     6
45     9
46     7
47     0
48    12
49     4
50     9
51     9
dtype: int64
 0     2
1     6
2     5
3     2
4     4
5     5
6     6
7     6
8     4
9     8
10    2
11    6
12    7
13    7
14    3
15    6
16    5
17    7
18    5
19    2
20    3
21    5
22    8
23    6
24    2
25    1
26    4
27    4
28    4
29    1
30    7
31    5
32    2
33    5
34    2
35    3
36    6
37    5
38    4
39    7
40    5
41    4
42    2
43    5
44    1
45    5
46    3
47    2
48    6
49    5
50    4
51    2
dtype: int64

###  6

Add an `extra` column to the original dataframe, which is an extraversion index, which is calculated as follows: the sum of the number of "Yes" answers in `extra_yes` and the number of "No" answers in `extra_no`.

In [5]:
### YOUR CODE HERE ###
ps['extra'] = extra_yes_sum + extra_no_sum
print(ps)

    Unnamed: 0  Unnamed: 0.1      sex volunteer   Q1   Q2   Q3   Q4   Q5   Q6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
2            2             3  Женский        Да   Да   Да  Нет  Нет   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
5            5             6  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
6            6             7  Женский       Нет   Да  Нет  Нет   Да   Да  Нет
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
12          12            13  Женский        Да   Да   Да  Нет   Да   Да   Да
13          13            14  Женский       Нет   Да   Да  Нет   Да   Да  Нет
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
15          15            16  Женский       Нет   Да   Да   Да  Нет   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
17          17            18  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
21          21            22  Женский        Да   Да   Да  Нет  Нет   Да  Нет
22          22            23  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
24          24            25  Мужской        Да   Да   Да  Нет   Да   Да   Да
25          25            26  Женский        Да  Нет   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
27          27            28  Женский        Да   Да  Нет  Нет  Нет   Да   Да
28          28            29  Женский        Да   Да   Да  Нет   Да   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
30          30            31  Женский        Да   Да   Да  Нет   Да  Нет  Нет
31          31            32  Женский        Да   Да  Нет  Нет  Нет   Да   Да
32          32            33  Женский        Да   Да  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
35          35            36  Женский        Да   Да   Да  Нет   Да   Да  Нет
36          36            37  Женский       Нет   Да   Да   Да  Нет   Да  Нет
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
39          39            40  Женский        Да   Да   Да  Нет   Да   Да   Да
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
41          41            42  Женский        Да   Да   Да  Нет  Нет   Да  Нет
42          42            43  Женский        Да   Да  Нет  Нет  Нет   Да   Да
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
44          44            45  Женский        Да   Да  Нет  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
46          46            47  Женский        Да  Нет  Нет  Нет   Да   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
49          49            50  Женский        Да  Нет  Нет  Нет  Нет   Да  Нет
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
51          51            52  Женский        Да   Да   Да  Нет   Да   Да   Да

    ...  Q49  Q50  Q51  Q52  Q53  Q54  Q55  Q56  Q57 extra
0   ...  Нет  Нет   Да   Да  Нет  Нет  Нет  Нет   Да     5
1   ...   Да  Нет  Нет  Нет   Да  Нет   Да   Да  Нет    16
2   ...   Да  Нет  Нет   Да  Нет  Нет   Да   Да  Нет    13
3   ...  Нет   Да   Да  Нет  Нет  Нет   Да  Нет  Нет     4
4   ...   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет    13
5   ...   Да  Нет  Нет  Нет   Да   Да  Нет   Да  Нет    19
6   ...   Да  Нет  Нет   Да   Да   Да   Да  Нет  Нет    15
7   ...   Да   Да  Нет   Да   Да   Да   Да   Да  Нет    21
8   ...  Нет  Нет  Нет   Да   Да  Нет   Да   Да  Нет    12
9   ...   Да  Нет  Нет  Нет   Да   Да   Да   Да  Нет    19
10  ...   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет     8
11  ...   Да  Нет  Нет   Да   Да   Да   Да   Да  Нет    17
12  ...  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да    14
13  ...   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет    16
14  ...  Нет   Да   Да   Да  Нет   Да   Да  Нет  Нет     6
15  ...  Нет   Да  Нет   Да   Да   Да   Да   Да   Да    15
16  ...  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет    14
17  ...  Нет  Нет  Нет   Да  Нет  Нет   Да   Да  Нет    16
18  ...  Нет  Нет  Нет   Да  Нет   Да   Да  Нет   Да    11
19  ...  Нет   Да   Да   Да  Нет   Да  Нет   Да   Да     9
20  ...  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет    11
21  ...  Нет  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет    10
22  ...   Да  Нет  Нет   Да   Да   Да  Нет   Да  Нет    16
23  ...   Да  Нет  Нет   Да   Да  Нет   Да   Да  Нет    17
24  ...  Нет   Да   Да   Да  Нет   Да   Да  Нет   Да     6
25  ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет     3
26  ...   Да   Да   Да   Да   Да  Нет   Да  Нет  Нет    12
27  ...   Да  Нет   Да  Нет   Да   Да   Да   Да  Нет    13
28  ...   Да   Да   Да   Да  Нет  Нет   Да   Да   Да    12
29  ...  Нет   Да   Да   Да  Нет   Да   Да   Да  Нет     3
30  ...  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет    13
31  ...   Да  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет    12
32  ...  Нет  Нет   Да   Да  Нет  Нет   Да  Нет  Нет     5
33  ...  Нет   Да  Нет   Да  Нет  Нет  Нет   Да  Нет     9
34  ...   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     9
35  ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет  Нет     5
36  ...   Да   Да  Нет   Да   Да   Да   Да   Да  Нет    16
37  ...   Да  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     8
38  ...  Нет   Да  Нет  Нет  Нет  Нет   Да   Да   Да    10
39  ...  Нет  Нет  Нет   Да  Нет   Да   Да   Да   Да    14
40  ...   Да  Нет  Нет   Да   Да  Нет   Да  Нет   Да    12
41  ...  Нет  Нет  Нет   Да   Да   Да   Да   Да  Нет    13
42  ...  Нет   Да   Да   Да   Да  Нет   Да   Да  Нет     7
43  ...  Нет  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет    10
44  ...  Нет  Нет   Да   Да   Да  Нет   Да   Да   Да     7
45  ...  Нет   Да  Нет   Да  Нет  Нет   Да   Да   Да    14
46  ...  Нет   Да  Нет   Да   Да  Нет   Да   Да  Нет    10
47  ...  Нет  Нет   Да   Да  Нет   Да  Нет  Нет  Нет     2
48  ...   Да   Да  Нет  Нет   Да   Да  Нет  Нет  Нет    18
49  ...  Нет   Да  Нет   Да  Нет   Да   Да   Да  Нет     9
50  ...  Нет  Нет  Нет   Да   Да  Нет   Да   Да   Да    13
51  ...  Нет   Да   Да   Да   Да   Да   Да  Нет  Нет    11

[52 rows x 62 columns]

###  7

Add a `female` column to the source dataframe, consisting of the values 0 and 1 (0 — Мужской, 1 — Женский).

In [6]:
### YOUR CODE HERE ###
ps['female'] = ps['sex'].isin(['Женский']).astype('int')
print(ps)

    Unnamed: 0  Unnamed: 0.1      sex volunteer   Q1   Q2   Q3   Q4   Q5   Q6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
2            2             3  Женский        Да   Да   Да  Нет  Нет   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
5            5             6  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
6            6             7  Женский       Нет   Да  Нет  Нет   Да   Да  Нет
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
12          12            13  Женский        Да   Да   Да  Нет   Да   Да   Да
13          13            14  Женский       Нет   Да   Да  Нет   Да   Да  Нет
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
15          15            16  Женский       Нет   Да   Да   Да  Нет   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
17          17            18  Женский       Нет   Да  Нет   Да   Да  Нет  Нет
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
21          21            22  Женский        Да   Да   Да  Нет  Нет   Да  Нет
22          22            23  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
24          24            25  Мужской        Да   Да   Да  Нет   Да   Да   Да
25          25            26  Женский        Да  Нет   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
27          27            28  Женский        Да   Да  Нет  Нет  Нет   Да   Да
28          28            29  Женский        Да   Да   Да  Нет   Да   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
30          30            31  Женский        Да   Да   Да  Нет   Да  Нет  Нет
31          31            32  Женский        Да   Да  Нет  Нет  Нет   Да   Да
32          32            33  Женский        Да   Да  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
35          35            36  Женский        Да   Да   Да  Нет   Да   Да  Нет
36          36            37  Женский       Нет   Да   Да   Да  Нет   Да  Нет
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
39          39            40  Женский        Да   Да   Да  Нет   Да   Да   Да
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
41          41            42  Женский        Да   Да   Да  Нет  Нет   Да  Нет
42          42            43  Женский        Да   Да  Нет  Нет  Нет   Да   Да
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
44          44            45  Женский        Да   Да  Нет  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
46          46            47  Женский        Да  Нет  Нет  Нет   Да   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
49          49            50  Женский        Да  Нет  Нет  Нет  Нет   Да  Нет
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
51          51            52  Женский        Да   Да   Да  Нет   Да   Да   Да

    ...  Q50  Q51  Q52  Q53  Q54  Q55  Q56  Q57 extra female
0   ...  Нет   Да   Да  Нет  Нет  Нет  Нет   Да     5      1
1   ...  Нет  Нет  Нет   Да  Нет   Да   Да  Нет    16      1
2   ...  Нет  Нет   Да  Нет  Нет   Да   Да  Нет    13      1
3   ...   Да   Да  Нет  Нет  Нет   Да  Нет  Нет     4      1
4   ...  Нет  Нет   Да   Да   Да   Да   Да  Нет    13      1
5   ...  Нет  Нет  Нет   Да   Да  Нет   Да  Нет    19      1
6   ...  Нет  Нет   Да   Да   Да   Да  Нет  Нет    15      1
7   ...   Да  Нет   Да   Да   Да   Да   Да  Нет    21      1
8   ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет    12      1
9   ...  Нет  Нет  Нет   Да   Да   Да   Да  Нет    19      1
10  ...  Нет   Да  Нет   Да   Да   Да   Да  Нет     8      0
11  ...  Нет  Нет   Да   Да   Да   Да   Да  Нет    17      1
12  ...  Нет  Нет   Да  Нет   Да   Да   Да   Да    14      1
13  ...  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет    16      1
14  ...   Да   Да   Да  Нет   Да   Да  Нет  Нет     6      1
15  ...   Да  Нет   Да   Да   Да   Да   Да   Да    15      1
16  ...   Да   Да   Да  Нет   Да   Да   Да  Нет    14      1
17  ...  Нет  Нет   Да  Нет  Нет   Да   Да  Нет    16      1
18  ...  Нет  Нет   Да  Нет   Да   Да  Нет   Да    11      1
19  ...   Да   Да   Да  Нет   Да  Нет   Да   Да     9      1
20  ...   Да   Да   Да  Нет   Да   Да   Да  Нет    11      1
21  ...  Нет  Нет   Да  Нет  Нет   Да  Нет  Нет    10      1
22  ...  Нет  Нет   Да   Да   Да  Нет   Да  Нет    16      1
23  ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет    17      0
24  ...   Да   Да   Да  Нет   Да   Да  Нет   Да     6      0
25  ...  Нет   Да   Да  Нет   Да   Да  Нет  Нет     3      1
26  ...   Да   Да   Да   Да  Нет   Да  Нет  Нет    12      1
27  ...  Нет   Да  Нет   Да   Да   Да   Да  Нет    13      1
28  ...   Да   Да   Да  Нет  Нет   Да   Да   Да    12      1
29  ...   Да   Да   Да  Нет   Да   Да   Да  Нет     3      1
30  ...   Да  Нет   Да  Нет  Нет  Нет   Да  Нет    13      1
31  ...  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет    12      1
32  ...  Нет   Да   Да  Нет  Нет   Да  Нет  Нет     5      1
33  ...   Да  Нет   Да  Нет  Нет  Нет   Да  Нет     9      0
34  ...  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     9      1
35  ...  Нет   Да   Да  Нет   Да   Да  Нет  Нет     5      1
36  ...   Да  Нет   Да   Да   Да   Да   Да  Нет    16      1
37  ...  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     8      1
38  ...   Да  Нет  Нет  Нет  Нет   Да   Да   Да    10      1
39  ...  Нет  Нет   Да  Нет   Да   Да   Да   Да    14      1
40  ...  Нет  Нет   Да   Да  Нет   Да  Нет   Да    12      1
41  ...  Нет  Нет   Да   Да   Да   Да   Да  Нет    13      1
42  ...   Да   Да   Да   Да  Нет   Да   Да  Нет     7      1
43  ...  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет    10      1
44  ...  Нет   Да   Да   Да  Нет   Да   Да   Да     7      1
45  ...   Да  Нет   Да  Нет  Нет   Да   Да   Да    14      1
46  ...   Да  Нет   Да   Да  Нет   Да   Да  Нет    10      1
47  ...  Нет   Да   Да  Нет   Да  Нет  Нет  Нет     2      1
48  ...   Да  Нет  Нет   Да   Да  Нет  Нет  Нет    18      1
49  ...   Да  Нет   Да  Нет   Да   Да   Да  Нет     9      1
50  ...  Нет  Нет   Да   Да  Нет   Да   Да   Да    13      1
51  ...   Да   Да   Да   Да   Да   Да  Нет  Нет    11      1

[52 rows x 63 columns]

###  8

Select rows from the source dataframe that correspond to either volunteers with an extraversion index above 15, or non-volunteers with an extraversion index below 15. Save to a `pure` dataframe.

In [11]:
### YOUR CODE HERE ###
volunteer_yes = ps['volunteer'].isin(['Да'])
volunteer_no = ps['volunteer'].isin(['Нет'])
pure = ps[(volunteer_yes) & (ps['extra'] > 15) | ((volunteer_no) & (ps['extra'] < 15))]
print(pure)

    Unnamed: 0  Unnamed: 0.1      sex volunteer   Q1   Q2   Q3   Q4   Q5   Q6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет

    ...  Q50  Q51  Q52  Q53  Q54  Q55  Q56  Q57 extra female
0   ...  Нет   Да   Да  Нет  Нет  Нет  Нет   Да     5      1
1   ...  Нет  Нет  Нет   Да  Нет   Да   Да  Нет    16      1
3   ...   Да   Да  Нет  Нет  Нет   Да  Нет  Нет     4      1
4   ...  Нет  Нет   Да   Да   Да   Да   Да  Нет    13      1
7   ...   Да  Нет   Да   Да   Да   Да   Да  Нет    21      1
8   ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет    12      1
9   ...  Нет  Нет  Нет   Да   Да   Да   Да  Нет    19      1
10  ...  Нет   Да  Нет   Да   Да   Да   Да  Нет     8      0
11  ...  Нет  Нет   Да   Да   Да   Да   Да  Нет    17      1
14  ...   Да   Да   Да  Нет   Да   Да  Нет  Нет     6      1
16  ...   Да   Да   Да  Нет   Да   Да   Да  Нет    14      1
18  ...  Нет  Нет   Да  Нет   Да   Да  Нет   Да    11      1
19  ...   Да   Да   Да  Нет   Да  Нет   Да   Да     9      1
20  ...   Да   Да   Да  Нет   Да   Да   Да  Нет    11      1
23  ...  Нет  Нет   Да   Да  Нет   Да   Да  Нет    17      0
26  ...   Да   Да   Да   Да  Нет   Да  Нет  Нет    12      1
29  ...   Да   Да   Да  Нет   Да   Да   Да  Нет     3      1
33  ...   Да  Нет   Да  Нет  Нет  Нет   Да  Нет     9      0
34  ...  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     9      1
37  ...  Нет  Нет  Нет  Нет  Нет   Да  Нет  Нет     8      1
38  ...   Да  Нет  Нет  Нет  Нет   Да   Да   Да    10      1
40  ...  Нет  Нет   Да   Да  Нет   Да  Нет   Да    12      1
43  ...  Нет  Нет   Да  Нет  Нет  Нет   Да  Нет    10      1
45  ...   Да  Нет   Да  Нет  Нет   Да   Да   Да    14      1
47  ...  Нет   Да   Да  Нет   Да  Нет  Нет  Нет     2      1
48  ...   Да  Нет  Нет   Да   Да  Нет  Нет  Нет    18      1
50  ...  Нет  Нет   Да   Да  Нет   Да   Да   Да    13      1

[27 rows x 63 columns]

###  9

Determine (by any means other than explicit counting) how many volunteers and non-volunteers are in the `pure` dataframe.

In [10]:
### YOUR CODE HERE ###
volunteer_yes = ps['volunteer'].isin(['Да']).sum()
volunteer_no = ps['volunteer'].isin(['Нет']).sum()
print(volunteer_no)

28

###  10

Determine the minimum, maximum, mean and median value of the extraversion index in the `pure` dataframe. Save the results in separate variables (there should be 4 of them).

Add a `high` column to the `pure` dataframe, consisting of 0 and 1, where 1 corresponds to respondents whose extraversion level is higher than $m = \max\{\text{median}, \text{mean}\}$, then there is a maximum of the median and mean values, and 0 - for respondents with an extraversion level not higher than $m$.

In [14]:
### YOUR CODE HERE ###
import numpy as np
min_value = pure.loc[:, 'extra'].min()
max_value = pure.loc[:, 'extra'].max()
mean_value = pure.loc[:, 'extra'].mean()
median_value = pure.loc[:, 'extra'].median()

m = max(mean_value, median_value)
more_m = pure['extra'] > m
pure['high'] = list(np.where(more_m, 1, 0))

print(pure)

    Unnamed: 0  Unnamed: 0.1      sex volunteer   Q1   Q2   Q3   Q4   Q5   Q6  \
0            0             1  Женский       Нет   Да  Нет  Нет   Да   Да   Да
1            1             2  Женский        Да   Да   Да  Нет   Да   Да   Да
3            3             4  Женский       Нет   Да   Да  Нет  Нет   Да   Да
4            4             5  Женский       Нет   Да   Да  Нет   Да   Да   Да
7            7             8  Женский        Да   Да   Да   Да  Нет   Да   Да
8            8             9  Женский       Нет   Да   Да  Нет   Да   Да   Да
9            9            10  Женский        Да   Да   Да  Нет  Нет   Да  Нет
10          10            11  Мужской       Нет  Нет   Да  Нет  Нет   Да   Да
11          11            12  Женский        Да   Да   Да  Нет   Да   Да   Да
14          14            15  Женский       Нет  Нет  Нет  Нет   Да   Да  Нет
16          16            17  Женский       Нет   Да   Да  Нет  Нет  Нет   Да
18          18            19  Женский       Нет   Да   Да  Нет   Да   Да   Да
19          19            20  Женский       Нет  Нет  Нет   Да   Да   Да  Нет
20          20            21  Женский       Нет   Да   Да  Нет   Да   Да   Да
23          23            24  Мужской        Да   Да   Да  Нет  Нет   Да   Да
26          26            27  Женский       Нет   Да   Да  Нет  Нет   Да   Да
29          29            30  Женский       Нет  Нет  Нет  Нет  Нет   Да   Да
33          33            34  Мужской       Нет  Нет   Да  Нет   Да   Да  Нет
34          34            35  Женский       Нет   Да   Да   Да  Нет   Да   Да
37          37            38  Женский       Нет   Да  Нет  Нет  Нет   Да   Да
38          38            39  Женский       Нет   Да  Нет  Нет  Нет   Да  Нет
40          40            41  Женский       Нет   Да   Да  Нет  Нет   Да  Нет
43          43            44  Женский       Нет   Да   Да  Нет   Да   Да   Да
45          45            46  Женский       Нет   Да   Да  Нет  Нет   Да   Да
47          47            48  Женский       Нет  Нет  Нет  Нет   Да   Да   Да
48          48            49  Женский        Да   Да   Да  Нет   Да   Да   Да
50          50            51  Женский       Нет   Да   Да  Нет  Нет   Да  Нет

    ...  Q51  Q52  Q53  Q54  Q55  Q56  Q57 extra female high
0   ...   Да   Да  Нет  Нет  Нет  Нет   Да     5      1    0
1   ...  Нет  Нет   Да  Нет   Да   Да  Нет    16      1    1
3   ...   Да  Нет  Нет  Нет   Да  Нет  Нет     4      1    0
4   ...  Нет   Да   Да   Да   Да   Да  Нет    13      1    1
7   ...  Нет   Да   Да   Да   Да   Да  Нет    21      1    1
8   ...  Нет   Да   Да  Нет   Да   Да  Нет    12      1    1
9   ...  Нет  Нет   Да   Да   Да   Да  Нет    19      1    1
10  ...   Да  Нет   Да   Да   Да   Да  Нет     8      0    0
11  ...  Нет   Да   Да   Да   Да   Да  Нет    17      1    1
14  ...   Да   Да  Нет   Да   Да  Нет  Нет     6      1    0
16  ...   Да   Да  Нет   Да   Да   Да  Нет    14      1    1
18  ...  Нет   Да  Нет   Да   Да  Нет   Да    11      1    0
19  ...   Да   Да  Нет   Да  Нет   Да   Да     9      1    0
20  ...   Да   Да  Нет   Да   Да   Да  Нет    11      1    0
23  ...  Нет   Да   Да  Нет   Да   Да  Нет    17      0    1
26  ...   Да   Да   Да  Нет   Да  Нет  Нет    12      1    1
29  ...   Да   Да  Нет   Да   Да   Да  Нет     3      1    0
33  ...  Нет   Да  Нет  Нет  Нет   Да  Нет     9      0    0
34  ...  Нет  Нет  Нет  Нет   Да  Нет  Нет     9      1    0
37  ...  Нет  Нет  Нет  Нет   Да  Нет  Нет     8      1    0
38  ...  Нет  Нет  Нет  Нет   Да   Да   Да    10      1    0
40  ...  Нет   Да   Да  Нет   Да  Нет   Да    12      1    1
43  ...  Нет   Да  Нет  Нет  Нет   Да  Нет    10      1    0
45  ...  Нет   Да  Нет  Нет   Да   Да   Да    14      1    1
47  ...   Да   Да  Нет   Да  Нет  Нет  Нет     2      1    0
48  ...  Нет  Нет   Да   Да  Нет  Нет  Нет    18      1    1
50  ...  Нет   Да   Да  Нет   Да   Да   Да    13      1    1

[27 rows x 64 columns]

<ipython-input-14-aafa8511c76f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pure['high'] = list(np.where(more_m, 1, 0))