# Basic data structures



## Homework

## List indexing

In [ ]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
From the above list of lists print the number `7` using indices.

In [4]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[0][0][6])

7

### 2.
From the above list of lists print the number `49` using indices.

In [7]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]
print(L[2][1][2])

49

### 3.

From the above list of lists print the number `78` using indices.

In [8]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[3][7][1][2])

78

### 4.
From the above list of lists, use the indices (using **negative values**) to output the number `99`.

In [11]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[-1][-2])

99

### 5.

From the above list of lists, make a **slice** with the number `74`.

In [13]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[3][6:7])

[74]

### 6.

From the above list of lists, make a **slice** with the numbers `47, 48`.

In [10]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[2][1][1:2])

[[47, 48]]

### 7.

From the above list of lists, make a **slice** with the numbers `77, 78`.

In [7]:
### YOUR CODE HERE ###
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

print(L[3][7][1][1:])

[77, 78]

## Function range()

### 8.
Use the `range` function to generate the following sequence: <br>
`[0, 1, 2, 3, 4]`

In [14]:
### YOUR CODE HERE ###
list(range(5))

[0, 1, 2, 3, 4]

### 9.
Use the `range` function to generate the following sequence:<br>
`[3, 4]`

In [15]:
### YOUR CODE HERE ###
list(range(3,5))

[3, 4]

### 10.
Use the `range` function to generate the following sequence:
<br>
`[4, 8, 12, 16]`

In [1]:
### YOUR CODE HERE ###
list(range(4,20,4))

[4, 8, 12, 16]

### 11.
Use the `range` function to generate the following sequence:
<br>
`[16, 12, 8, 4]`

In [23]:
### YOUR CODE HERE ###
list(range(16,0,-4))

[16, 12, 8, 4]

### 12.
Use the `range` function to generate the following sequence:
<br>
`[0, 5, 10]`

In [28]:
### YOUR CODE HERE ###
list(range(0,11,5))

[0, 5, 10]

### 13.
Use the `range` function to generate the following sequence:
<br>
`[10, 5, 0]`

In [31]:
### YOUR CODE HERE ###
list(range(10,-1,-5))

[10, 5, 0]

### 14.
Use the `range` function to generate the following sequence:
<br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [33]:
### YOUR CODE HERE ###
list(range(-10,0,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
Use the `range` function to generate the following sequence:
<br>
`[-10, -16, -22, -28, -34]`

In [36]:
### YOUR CODE HERE ###
list(range(-10,-35,-6))

[-10, -16, -22, -28, -34]

## Operators and Data Types

This block must be solved **WITHOUT** the use of ready-made functions and third-party libraries. Use operators.

### 16.
The clock displays the time in the format h:mm:ss (number of hours (0 to 23), two-digit minutes, two-digit seconds). The number of minutes and seconds, if necessary, are padded to a two-digit number with zeros.

The program should ask for the number of seconds S that have passed since the beginning of the day, and output in h:mm:ss format what time the clock will show. <br><br>

*Input Format:* <br>
3600<br><br>

*Output Format:* <br>
1:00:00

In [ ]:
### YOUR CODE HERE ###
sec = int(input('Enter the number of seconds that have passed since the beginning of the day:'))
hours = sec // 3600
minutes = sec // 60 % 60
seconds = sec % 60

print(f'{hours % 24}:{minutes // 10}{minutes % 10}:{seconds // 10}{seconds % 10}')

### 17.
The car enters the zero kilometer of the road and travels clockwise at a constant speed of V kilometers per hour. At what kilometer of the road will the car be in T hours?

<br> Length of the road: 230 km. <br><br> 

*Input Format:* <br>
60 <br>
1
<br><br>
*Output Format:* <br>
60

In [ ]:
### YOUR CODE HERE ###
velocity = int(input("velocity: "))
time = float(input("time: "))
distance = (velocity * time) % 230


print(distance)

### 18.
Write a program that asks for a five-digit integer and prints the sum of its digits.

*Input Format:* <br>
11111
<br><br>
*Output Format:* <br>
5

In [ ]:
### YOUR CODE HERE ###
num = int(input("Enter a five-digit number: "))
n1 = num // 10000
n2 = num // 1000 % 10
n3 = num // 100 % 10
n4 = num // 10 % 10
n5 = num % 10
sum = n1 + n2 + n3 + n4 + n5

print('The sum of the digits in a number: ', sum)

### 19.
Write a program that asks for a four-digit integer and swaps its first two and last two digits.

*Input Format:* <br>
5236 
<br><br>
*Output Format:* <br>
3652

In [ ]:
### YOUR CODE HERE ###
num = int(input("Enter a four-digit number: "))
num1 = num % 100
num2 = num // 100
num3 = str(num1) + str(num2)

print(num3)

### 20.
Write a program that, based on the parameter D (how many kilometers a car travels per day), calculates how many days it will spend on a journey of length P kilometers. <br><br>

*Input Format:* <br>
105 <br>
120
<br><br>
*Output Format:* <br>
2

In [ ]:
### YOUR CODE HERE ###
import math

km_per_day = int(input('How many kilometers per day does a car cover?:'))
way_to_reach = int(input('How many kilometers do you need to drive?:'))
days = math.ceil(way_to_reach / km_per_day)

print(days)

### 21.

Write a program that calculates how many dollars and cents you need to pay for N avocados if one avocado costs R dollars and K cents. <br><br>
*Input Format:* <br>
4 20 <br>
5
<br><br>
*Output Format:* <br>
 21 dollars  00 cents

In [1]:
### YOUR CODE HERE ###
avo1_dol = 4
avo1_cent = 20
n = 5
price_for_one = float('{0}.{1}'.format(avo1_dol, avo1_cent))
price_for_N  = price_for_one * n
price_for_N_fixed_str = f'{price_for_N:.2f}'
price_for_N_first = int(price_for_N)
price_for_N_last = price_for_N_fixed_str[-2:]

print(price_for_N_first, 'dollars', price_for_N_last, 'cents')

21 dollars 00 cents

### 22.
Let the organizers of the event incorrectly compiled a Google form and asked people to enter their full names in the wrong order. First they asked for the first name, then the patronymic, then the last name. Write a program that will rearrange the full name in the desired order.
 <br> <br> 

*Input Format:* <br>
Ivan Ivanovych Ivanov<br><br>
*Output Format:* <br>
Ivanov Ivan Ivanovych

In [ ]:
### YOUR CODE HERE ###
fio = input('Enter your first name, patronymic, last name:')
fio_list = fio.split(' ')
new_list = [fio_list[2], fio_list[0], fio_list[1]]

print(' '.join(new_list))

## Dictionaries and lists

### 23.
You have a list with an order at a restaurant. Write a program that changes the name of a dish to something else. In this case, the new dish in the list will be located in the place of the one that was replaced.


*Input Format:* <br>
white wine<br>
red wine <br><br>
*Output Format:* <br>
`['red wine', 'Caesar salad', 'pasta Carbonara', 'cheesecake', 'chocolate sorbet']`

In [ ]:
order = ['white wine', 'Caesar salad', 'pasta Carbonara', 'cheesecake', 'chocolate sorbet']

In [ ]:
### YOUR CODE HERE ###
order = ['white wine', 'Caesar salad', 'pasta Carbonara', 'cheesecake', 'chocolate sorbet']
to_delete = input("Select dish and delete:")
to_put = input("Change to dish:")
order[order.index(to_delete)] = to_put

print(order)

__________________
You are given a dictionary with a schedule for the week.

In [ ]:
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}

### 24.
Delete the keys `Saturday` and `Sunday`. Instead, add a pair, where the key is the tuple `Saturday, Sunday`, and the value is a list with the task `plant flowers in the garden`. Is it possible to make the key `Saturday, Sunday` a list?

In [ ]:
### YOUR CODE HERE ###
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}



diary.pop('Saturday')
diary.pop('Sunday')
diary[('Saturday', 'Sunday')] = ['plant flowers in the garden']

print(diary)
# lists cannot be used as keys because they are a mutable data type

### 25.
Add 'going to the dentist' to your Tuesday morning to-do list.

In [ ]:
### YOUR CODE HERE ###
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}

diary['Tuesday'].setdefault('morning ',['walk the dog']).append('going to the dentist')

print(diary)

### 26.
Replace `going to the theatre` with `going to the movies` on your Friday night to-do list.

In [ ]:
### YOUR CODE HERE ###
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}

diary['Friday']['evening'][0] = 'going to the movies' 

print(diary)

### 27.
Your friend will be back from vacation one day earlier, so he will pick up his dog on Wednesday instead of Thursday. Remove the case `walk the dog` from the relevant lists.

In [ ]:
### YOUR CODE HERE ###
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}
diary['Thursday']['morning'].remove('walk the dog')
diary['Thursday']['evening'].remove('walk the dog')

print(diary)

### 28.
Get the second thing on your list of things you need to do on Friday morning.

In [ ]:
### YOUR CODE HERE ###
diary = {'Monday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Tuesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Wednesday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Thursday': {
                          'morning': ['walk the dog'],
                          'day': [],
                          'evening': ['walk the dog']
                                      },
        'Friday': {
                          'morning': ['go to the tire shop', 'wash the car'],
                          'day': [],
                          'evening': ['going to the theatre', 'dinner at a cafe']
                                      },
        'Saturday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      },
        'Sunday': {
                          'morning': [],
                          'day': [],
                          'evening': []
                                      }}

print(diary['Friday']['morning'][1])