# Functions
### Homework

#### 1.
Why did the error occur? Explain and fix.

In [1]:
def factorial(n):
    f = 1
    for i in range(2, n + 1):
        f = f * i
    print(f)

factorial(3)

6

**Explanation:**
<br>the print() function does not see the local variable that is defined inside the function<br>

#### 2.
Why did the variable S keep the value zero after the function was run?

In [ ]:
S = 0
def sum(n, m):
    S = n + m
    return S

print(sum(3, 4))
print(S)

7
0

**Explanation:**
<br>of the print() function, only the global variable is available outside the function<br>

#### 3.

Why did the error occur? Explain and correct so that the function can operate on the input in the `res` example.

In [3]:
def mult(*, q, w, e, r, t, y):
    return q + w + e + r + t + y
res = mult(q=1, w=2, e=3, r=4, t=5, y=6)
print(res)

21

**Explanation:**
<br>since we passed * in the parameters when creating the function, when calling the function, we must specify the positions of the parameters<br>

#### 4.
Why did the error occur? Explain and correct so that the function can work with the input in the example.

In [1]:
def power(a, s, *, d):
    res = a ** s ** d
    print(res)
    
power(5, 6,d = 4)
#The d parameter must be in its place

733036532959081958493044038604220573003076872623105825587799726719137081664242889213090239865705342028379233496941111919796792708971905802219444504019006104332493489107721493845412453899793946281899700834091715387952751830219643610349979360602856524762182507733859966860842500858768382394753399581156286449561160783713877222895092808637540218804927005623038569306841733685039433236910980897592858987002063924013988530964522502594931500371157643132061597303111367258489022159044511817010529399435883286083212695075903281596592105429678751689059533454035251548334986509241552406961532864939006610513597608967402985707857424513196823658884413602881077337616965779954194874666031301491450438900838443296921074535307486056701074634195717288344127864971903293281532919139948732795811179970577905638353069459326437465009401802406334569163539571111057039009740125070184999823974525412495495402254164218902587890625

#### 5.
Why did the error occur? Explain and correct so that the function can work with the input in the example.

In [2]:
def mult2(*args):
    res = 1
    for i in args:
        res += i
    return res

my_list = [1, 2, 3, 4, 5, 6, 7]
print(mult2(*my_list))
#when calling the print() function, we must unpack the list so that the function accesses each element of the list

29

#### 6.
Why did the error occur? Explain and fix.

In [7]:
def some_function(a, b, *args, **kwargs):
    pass

**Explanation:**
<br>First parameter should be args, then kwargs <br>

#### 7.
Why wasn't a new list created when the function was run again? Explain and fix.

In [4]:
def to_buy(*new_items, shopping_list=None):
    if shopping_list is None:
        shopping_list = []
    for i in new_items:     
        shopping_list.append(i)
    return shopping_list     
        
#     for i in new_items:
#         shopping_list.append(i)
#     return shopping_list

monday = to_buy('apples', 'milk', 'bread')
print(monday)

tuesday = to_buy('pears', 'yogurt', 'meat')
print(tuesday)

['apples', 'milk', 'bread']
['pears', 'yogurt', 'meat']


**Explanation:**
<br>because shopping_list is the default parameter, it is evaluated once. Accordingly, after the repeated call, the following values will be stored in the list: 'apples', 'milk', 'bread'<br>

#### 8.
Modify this function so that it prints out the product names from the dictionary in the example.

In [5]:
def print_all(**kwargs):
    for i in kwargs.values():
        print(i)
        
print_all(**{'1' : 'apples', '2' :'milk', '3' : 'bread', '4' : 'pears', '5' : 'yogurt', '6' : 'meat'})

apples
milk
bread
pears
yogurt
meat

#### 10.
Write a function that uses recursion to calculate the sum of a sequence with step m. The arguments are positive integers n (the last element of the sequence) and m (the step of the sequence). It is assumed that all members of the sequence are positive integers.

Example:

```
sum_of_seq(5, 1)
15
 
sum_of_seq(5, 9)
5

sum_of_seq(8, 2)
20
```

In [13]:
### YOUR CODE HERE ###
def sum_num(n, m):
    if n >= 1:
        return n + sum_num(n-m, m)
    else:
        return 0
print(sum_num(8, 2))

20

#### 11.
Write a function that raises a number to a positive power using recursion. The arguments are positive integers n (number) and m (power).

In [14]:
### YOUR CODE HERE ###
def pow(n, m):
    if m >= 2:
        return n * pow(n, m-1)
    else:
        return n
print(pow(10, 5))

100000

#### 12.
Write a function that raises a number to the negative power of a number using recursion. The arguments are a positive integer n (number) and a negative integer m (power).

In [15]:
### YOUR CODE HERE ###
def pow(n, m):
    if m == -1:
        return 1 / n
    else:
        return pow(n, m+1)/n
print(pow(2, -3))

0.125

#### 13.

Write a function that finds the Fibonacci number given its number. The argument is a positive integer n (number).

In [1]:
### YOUR CODE HERE ###
def fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

print(fib(3))

2