# Introduction in Python



## Homework

### Task 1

Calculate in Python:
    
$9^2 + 6^4$;

$\log(54)$ (natural log);

$\sqrt{8} - \sqrt{12}$;

$\sin(45) + \cos(45)$.

In [8]:
### YOUR CODE HERE ###
import math
#1
num1 = math.pow(9,2)
num2 = math.pow(6,4)
print(num1 + num2)

#2
num3 = math.log(54)
print(num3)

#3
num4 = math.sqrt(8)
num5 = math.sqrt(12)
print(num4 - num5)

#4
num6 = math.sin(45)
num7 = math.cos(45)
print(num6 + num7)

1377.0
3.9889840465642745
-0.6356744903915641
1.3762255133518482

### Task 2

Write a programm that requests user of his shoe size, and output a size of shoes for climbing, considering climbing shoes size is 2   sizes too small than normal shoes.

**Example:**

*Input*

    38

*Output*

    36

In [ ]:
### YOUR CODE HERE ###
size = int(input("Input your shoes size: "))
size -= 2
print(size)

### Task 3

English language test consists of 3 parts. A student sequentially enters from the keyboard the points scored for each part - three integers. Each number is entered on a separate line - `input()` is requested three times. Write a program that calculates the final score for the test - the sum of the scores for the three parts.


**Example:**

*Input*

    5
    4
    6
    
*Output*

    15

In [ ]:
### YOUR CODE HERE ###
mark1 = int(input("Enter your score for the first part: "))
mark2 = int(input("Enter your score for the second part: "))
mark3 = int(input("Enter your score for the third part: "))
result = mark1 + mark2 + mark3
print(result)

### Задача 4

The variable `salary` stores the value of a person's salary in dollars (you can assign some value to `salary` yourself).

Write a program that expresses a person's salary in *thousands of rubles* and


a) store the result in the `salary_th` variable and print the result to the screen;

b) output a message (with a value substituted for `___`):

     Your salary is __ thousand dollars.
    
**An example of the program operation (point a):**


*Input*

    salary = 35000

*Output*
    
    35
    
**An example of the program (point b):**


*Input*

    salary = 35000

*Output*
    
    Your salary is 35 thousand dollars.

In [ ]:
### YOUR CODE HERE ###
#a
salary = 350000
salary_th = salary // 1000
print(salary_th)

#b
salary = 35000
salary_th = salary // 1000
print("Your salary is", salary_th, "thousand dollars.")

### Task 5

Write a program that asks the user for the amount (in dollars) that he wants to transfer to his friend on the card of another bank, and returns the debited amount (in dollars) taking into account the bank's commission of 5%.

*Note:* consider that the transfer amount is an integer.

**Example:**

*Input*

    1000

*Output*

    1050.0

In [ ]:
### YOUR CODE HERE ###
amount = int(input("Enter amount: "))
amount_changed = amount + 0.05*amount
print(amount_changed)

### Task 6

The python crawled out into the street for a walk and decided to play: he asked passers-by to name some number (that is, enter it from the keyboard) and attributed this number to the number that the previous passer-by called. Write a code that will allow you to determine what number will be obtained after polling four passersby, if it is known that the first passerby called the number 5. The problem does not involve the use of loops; you can run the code several times / copy lines of code or cells. Note that the result should be an *integer*, not a string.


** Explanation example: ** the first one called the number 5, the second - the number 6, the third - 3. We got the number 563.

**Example:**

*Input*

    5
    6
    3
    0
    
*Output*
    
    5630

In [ ]:
a = "pass"
b = "word"

print(a + b)

password

In [ ]:
### YOUR CODE HERE ###
num1 = int(input("Enter the number: "))
num2 = int(input("Enter the number: "))
num3 = int(input("Enter the number: "))
num4 = int(input("Enter the number: "))
print(str(num1) + str(num2) + str(num3) + str(num4))

### Task 7

An integer `n` is given. Print the next even number. You *cannot* use the `if` conditional statement and loops when solving this problem.

**Example**

*Input*

    7

*Output*

    8

*Input*

    8

*Output*

    10

In [ ]:
### YOUR CODE HERE ###
n = int(input("Enter the number: "))
new_n = n + 2
check = n % 2
odd_even = new_n - check
print(odd_even)