In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv('train.csv')
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [283]:
train_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
train_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
train_df['Age'] = train_df.groupby(['Sex']).Age.apply(lambda x: x.fillna(x.median()))
train_df.to_csv('agewithout_nan.csv')
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,27.0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
train_df[['Cabin','Embarked']] = train_df[['Cabin','Embarked']].fillna('U')

In [7]:
train_df[['Cabin','Embarked']]

    Cabin Embarked
0       U        S
1     C85        C
2       U        S
3    C123        S
4       U        S
..    ...      ...
886     U        S
887   B42        S
888     U        S
889  C148        C
890     U        Q

[891 rows x 2 columns]

In [8]:
train_df['PassengerId'][6:20]

6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: PassengerId, dtype: int64

In [9]:
train_df['Sex'] = train_df['Sex'].apply(lambda x: 0 if (x == 'male') else 1)

In [10]:
train_df['Embarked'] = train_df['Embarked'].apply(lambda x: 0 if x == 'U' else (1 if x == 'S' else (2 if x == 'C' else 3)))

In [11]:
train_df = train_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = train_df.drop(['Survived'],axis=1).values
y = train_df['Survived'].values

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [16]:
knn = KNeighborsClassifier(n_neighbors=5)
knn_model = knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)

In [17]:
nb = GaussianNB()
nb_model = nb.fit(x_train, y_train)
nb_pred = nb.predict(x_test)

In [18]:
dtc = DecisionTreeClassifier()
dtc_model = dtc.fit(x_train, y_train)
dtc_pred = dtc.predict(x_test)

In [19]:
lr = LogisticRegression()
lr_model = lr.fit(x_train, y_train)
lr_pred = lr.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix, recall_score
from sklearn.metrics import precision_score

In [21]:
confusion_knn = confusion_matrix(y_test, knn_pred)
confusion_knn

array([[110,  21],
       [ 47,  45]], dtype=int64)

In [37]:
rec_score = recall_score(y_test, knn_pred)
rec_score

0.4891304347826087

In [38]:
pres_score = precision_score(y_test, knn_pred)
pres_score

0.6818181818181818

In [28]:
from sklearn.metrics import f1_score

In [29]:
fscore = 2 * pres_score * rec_score / (pres_score + rec_score)
fscore

0.5696202531645569

In [30]:
f1_score(y_test, knn_pred)

0.5696202531645569

In [32]:
from sklearn.metrics import precision_recall_fscore_support, classification_report

In [33]:
precision_recall_fscore_support(y_test, knn_pred)

(array([0.70063694, 0.68181818]),
 array([0.83969466, 0.48913043]),
 array([0.76388889, 0.56962025]),
 array([131,  92], dtype=int64))

In [36]:
print(classification_report(y_test, knn_pred))

              precision    recall  f1-score   support

           0       0.70      0.84      0.76       131
           1       0.68      0.49      0.57        92

    accuracy                           0.70       223
   macro avg       0.69      0.66      0.67       223
weighted avg       0.69      0.70      0.68       223

In [49]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import roc_auc_score
import numpy as np

In [41]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=17)

In [46]:
c_s = np.logspace(-1, 2, 500)
c_s

array([  0.1       ,   0.10139395,   0.10280732,   0.1042404 ,
         0.10569346,   0.10716676,   0.10866061,   0.11017528,
         0.11171107,   0.11326826,   0.11484715,   0.11644806,
         0.11807128,   0.11971713,   0.12138593,   0.12307798,
         0.12479362,   0.12653318,   0.12829698,   0.13008537,
         0.13189869,   0.13373729,   0.13560151,   0.13749172,
         0.13940828,   0.14135156,   0.14332192,   0.14531975,
         0.14734543,   0.14939935,   0.15148189,   0.15359347,
         0.15573448,   0.15790533,   0.16010645,   0.16233824,
         0.16460115,   0.1668956 ,   0.16922204,   0.1715809 ,
         0.17397264,   0.17639773,   0.17885662,   0.18134978,
         0.1838777 ,   0.18644085,   0.18903974,   0.19167485,
         0.19434669,   0.19705578,   0.19980263,   0.20258777,
         0.20541173,   0.20827506,   0.2111783 ,   0.21412202,
         0.21710676,   0.22013311,   0.22320165,   0.22631296,
         0.22946764,   0.23266629,   0.23590953,   0.23919798,
         0.24253227,   0.24591304,   0.24934094,   0.25281661,
         0.25634074,   0.25991399,   0.26353705,   0.26721062,
         0.27093539,   0.27471208,   0.27854142,   0.28242413,
         0.28636097,   0.29035269,   0.29440005,   0.29850382,
         0.30266481,   0.30688379,   0.31116158,   0.31549901,
         0.31989689,   0.32435608,   0.32887743,   0.3334618 ,
         0.33811008,   0.34282315,   0.34760192,   0.3524473 ,
         0.35736022,   0.36234163,   0.36739248,   0.37251373,
         0.37770637,   0.38297139,   0.3883098 ,   0.39372263,
         0.39921091,   0.4047757 ,   0.41041805,   0.41613906,
         0.42193981,   0.42782142,   0.43378502,   0.43983175,
         0.44596276,   0.45217924,   0.45848238,   0.46487337,
         0.47135345,   0.47792386,   0.48458586,   0.49134073,
         0.49818975,   0.50513425,   0.51217554,   0.51931499,
         0.52655396,   0.53389384,   0.54133603,   0.54888196,
         0.55653308,   0.56429085,   0.57215676,   0.58013231,
         0.58821904,   0.59641849,   0.60473224,   0.61316188,
         0.62170903,   0.63037532,   0.63916241,   0.64807198,
         0.65710575,   0.66626545,   0.67555283,   0.68496967,
         0.69451778,   0.70419898,   0.71401513,   0.72396811,
         0.73405984,   0.74429223,   0.75466726,   0.76518692,
         0.77585321,   0.78666818,   0.79763391,   0.80875249,
         0.82002606,   0.83145678,   0.84304684,   0.85479845,
         0.86671388,   0.8787954 ,   0.89104533,   0.90346602,
         0.91605985,   0.92882923,   0.9417766 ,   0.95490446,
         0.96821531,   0.9817117 ,   0.99539623,   1.00927151,
         1.02334021,   1.03760502,   1.05206867,   1.06673394,
         1.08160363,   1.0966806 ,   1.11196773,   1.12746796,
         1.14318425,   1.15911962,   1.17527712,   1.19165984,
         1.20827094,   1.22511358,   1.242191  ,   1.25950646,
         1.2770633 ,   1.29486487,   1.31291459,   1.3312159 ,
         1.34977233,   1.36858742,   1.38766479,   1.40700809,
         1.42662102,   1.44650734,   1.46667087,   1.48711546,
         1.50784505,   1.52886359,   1.55017512,   1.57178372,
         1.59369353,   1.61590875,   1.63843365,   1.66127252,
         1.68442976,   1.7079098 ,   1.73171713,   1.75585633,
         1.78033202,   1.80514888,   1.83031168,   1.85582523,
         1.88169442,   1.90792422,   1.93451965,   1.96148581,
         1.98882786,   2.01655104,   2.04466067,   2.07316213,
         2.10206088,   2.13136247,   2.16107251,   2.19119669,
         2.22174078,   2.25271064,   2.28411221,   2.31595149,
         2.3482346 ,   2.38096772,   2.41415712,   2.44780916,
         2.48193029,   2.51652705,   2.55160607,   2.58717408,
         2.62323788,   2.6598044 ,   2.69688063,   2.73447368,
         2.77259076,   2.81123917,   2.85042632,   2.89015972,
         2.93044698,   2.97129582,   3.01271407,   3.05470967,
         3.09729067,   3.14046522,   3.1842416 ,   3.2286282 ,
         3.27363353,   3.3192662 ,   3.36553498,   3.41244871,
         3.46001639,   3.50824714,   3.55715021,   3.60673495,
         3.65701088,   3.70798763,   3.75967497,   3.8120828 ,
         3.86522116,   3.91910025,   3.97373038,   4.02912203,
         4.0852858 ,   4.14223247,   4.19997295,   4.25851829,
         4.31787973,   4.37806863,   4.43909653,   4.50097513,
         4.56371628,   4.62733201,   4.69183451,   4.75723614,
         4.82354943,   4.89078709,   4.95896201,   5.02808725,
         5.09817606,   5.16924187,   5.2412983 ,   5.31435916,
         5.38843844,   5.46355035,   5.53970928,   5.61692982,
         5.69522678,   5.77461515,   5.85511016,   5.93672722,
         6.01948197,   6.10339029,   6.18846824,   6.27473213,
         6.36219849,   6.45088409,   6.54080591,   6.6319812 ,
         6.72442742,   6.81816229,   6.91320378,   7.00957009,
         7.1072797 ,   7.20635132,   7.30680395,   7.40865683,
         7.51192949,   7.61664172,   7.72281357,   7.8304654 ,
         7.93961785,   8.05029181,   8.16250851,   8.27628946,
         8.39165644,   8.50863158,   8.62723729,   8.7474963 ,
         8.86943166,   8.99306672,   9.1184252 ,   9.2455311 ,
         9.37440879,   9.50508296,   9.63757866,   9.77192128,
         9.90813657,  10.04625062,  10.1862899 ,  10.32828126,
        10.4722519 ,  10.61822941,  10.76624177,  10.91631734,
        11.06848489,  11.22277356,  11.37921294,  11.537833  ,
        11.69866413,  11.86173716,  12.02708335,  12.19473437,
        12.36472235,  12.53707987,  12.71183997,  12.88903612,
        13.0687023 ,  13.25087292,  13.4355829 ,  13.62286764,
        13.81276303,  14.00530545,  14.20053182,  14.39847953,
        14.59918652,  14.80269127,  15.00903276,  15.21825053,
        15.43038469,  15.64547589,  15.86356534,  16.08469483,
        16.30890676,  16.53624407,  16.76675035,  17.00046975,
        17.23744708,  17.47772774,  17.72135779,  17.96838391,
        18.21885343,  18.47281437,  18.73031539,  18.99140582,
        19.25613572,  19.52455581,  19.79671753,  20.07267304,
        20.35247521,  20.63617768,  20.9238348 ,  21.21550171,
        21.5112343 ,  21.81108924,  22.115124  ,  22.42339683,
        22.73596682,  23.05289387,  23.37423871,  23.70006292,
        24.03042894,  24.36540009,  24.70504055,  25.04941542,
        25.39859069,  25.75263327,  26.11161101,  26.47559271,
        26.84464811,  27.21884795,  27.59826392,  27.98296876,
        28.37303617,  28.7685409 ,  29.16955876,  29.57616659,
        29.98844231,  30.40646493,  30.83031457,  31.26007243,
        31.69582089,  32.13764344,  32.58562476,  33.0398507 ,
        33.5004083 ,  33.96738582,  34.44087276,  34.92095985,
        35.40773909,  35.90130377,  36.40174847,  36.90916911,
        37.42366291,  37.94532847,  38.47426577,  39.01057617,
        39.55436245,  40.10572881,  40.66478092,  41.23162591,
        41.80637241,  42.38913057,  42.98001206,  43.57913012,
        44.18659956,  44.8025368 ,  45.42705986,  46.06028844,
        46.70234388,  47.35334923,  48.01342924,  48.6827104 ,
        49.36132098,  50.04939103,  50.74705239,  51.45443878,
        52.17168576,  52.89893076,  53.63631317,  54.38397428,
        55.14205739,  55.91070777,  56.69007271,  57.48030158,
        58.28154581,  59.09395895,  59.91769669,  60.75291689,
        61.5997796 ,  62.45844712,  63.329084  ,  64.21185709,
        65.10693555,  66.01449093,  66.93469713,  67.86773051,
        68.81376986,  69.7729965 ,  70.74559423,  71.73174944,
        72.73165113,  73.7454909 ,  74.77346305,  75.81576458,
        76.87259522,  77.9441575 ,  79.03065679,  80.13230128,
        81.24930211,  82.38187331,  83.53023195,  84.69459808,
        85.87519485,  87.07224849,  88.28598841,  89.51664721,
        90.76446073,  92.02966809,  93.31251175,  94.61323756,
        95.93209478,  97.26933615,  98.62521795, 100.        ])

In [62]:
roc_auc = roc_auc_score(y_train, knn.predict_proba(x_train)[:, 1])

In [66]:
clf = LogisticRegressionCV(Cs=c_s, cv=skf, random_state=0)
clf.fit(x_train, y_train)
clf.predict(x_train)

D:\ana\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
D:\ana\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
D:\ana\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [306]:
confusion_nb = confusion_matrix(y_test, nb_pred)
confusion_nb

array([[111,  20],
       [ 27,  65]], dtype=int64)

In [310]:
recall_score(y_test, nb_pred)

0.7065217391304348

In [307]:
confusion_dtc = confusion_matrix(y_test, dtc_pred)
confusion_dtc

array([[114,  17],
       [ 26,  66]], dtype=int64)

In [311]:
recall_score(y_test, dtc_pred)

0.717391304347826

In [308]:
confusion_lr = confusion_matrix(y_test, lr_pred)
confusion_lr

array([[114,  17],
       [ 28,  64]], dtype=int64)

In [312]:
recall_score(y_test, lr_pred)

0.6956521739130435

In [314]:
from sklearn.metrics import precision_score

In [315]:
precision_score(y_test, dtc_pred)

0.7951807228915663